*{
    margin:0;
    padding: 0;
}
body{
    background-image: url(bac.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    
    
}
#sidebar{
	background:black;
	width:250px;
	height:100%;
	position:absolute;
	left:-200px;
	top:0px;
	transition:left 0.3s linear;
}

#sidebar.visible{
	left:0px;
	transition:left 0.3s linear;
}

ul{
	margin-top:20px;
	padding:0px;
}

ul li{
	list-style:none;
}

ul li a{
	background:black;
	color:white;
	border-bottom:1px solid black;
	display:block;
	width:180px;
    margin-top: 20px;
	padding:10px;
	text-decoration: none;
}

#sidebar-btn{
	display:inline-block;
	vertical-align: middle;
	width:20px;
	height:15px;
	cursor:pointer;
	margin:20px;
	position:absolute;
	top:0px;
	right:-60px;
}

#sidebar-btn span{
	height:1px;
	background: black;
	margin-bottom:5px;
	display:block;
}

#sidebar-btn span:nth-child(2){
	width:75%;
}

#sidebar-btn span:nth-child(3){
	width:50%;
}
  .text {
    font-family: "Recursive", monospace;
    font-size: clamp(4em, 15vmin, 20em);
    text-shadow: 0;
    color: #fefae0;
    animation: anime 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
  }
  
  @keyframes anime {
    from {
      font-variation-settings: "wght" 800, "slnt" 0;
      text-shadow: -5px 10px 0px #dba2e5, -10px 20px 0px #b065a0,
        -15px 30px 0px #842184;
    }
    to {
      font-variation-settings: "wght" 300, "slnt" 15;
      text-shadow: none;
    }
  }
  .full{
    color: palevioletred ;
  }
  .flex-container{
    text-align: center;
    color:black;
    width: 100%;
    margin-left: 80px;
    padding: 0;
    
  }

  .text{
    margin-top: 80px;
  }
  .pic{
    margin:100px   
  }
  img{
    border-radius: 50%;
    height: 500px;
  }
  
    
  .container{
    display: flex;
  }
  /*about section*/
  .about-section {
    width: 100%;
    padding: 40px 0;
}

.inner-width {
    max-width: 1000px;
    overflow: hidden;
    padding: 0 20px;
    margin: auto;
}

.about-section h1 {
    text-align: center;
}

.border {
    width: 100px;
    height: 3px;
    background: plum;
    margin: 40px auto;
}

.about-section-row {
    display: flex;
    flex-wrap: wrap;
}

.about-section-col {
    flex: 50%;
}

.about {
    padding-right: 30px;
}

.about p {
    text-align: justify;
    margin-bottom: 20px;
}



.skills {
    padding-left: 30px;
}

.skill {
    margin-bottom: 10px;
}

.progress {
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 12px;
}

.progress-bar {
    height: 12px;
    background: plum;
    border-radius: 12px;
}

.p1 {
    width: 90%;
}

.p2 {
    width: 70%;
}

.p3 {
    width: 50%;
}

.progress-bar span {
    float: right;
    margin-right: 6px;
    line-height: 13px;
    color: #fff;
    font-size: 12px;
}

@media screen and (max-width:700px) {
    .about-section-col {
        flex: 100%;
        margin: 10px 0;
    }
    .about,
    .skills {
        padding: 0;
    }
    .about {
        text-align: center;
    }
}
/*contact section*/
#contact-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  
  #contact-title {
    text-align: center;
    font-size: 3em;
    color: var(--secondary-colour);
    width: 60vw;
  }
  
  #contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #name-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  #mail-input {
    width: 93%;
  }
  
  #subject-input {
    width: 93%;
  }
  
  form input, form textarea{
    padding: 1em;
    margin: 1em;
    border: 0px;
    border-radius: 0.5em;
    border: 0.2em solid var(--transparent);
  }
  
  form input:focus, form textarea:focus{
    outline: none;
    background: #EBEBEB;
    border-color: var(--secondary-colour);
  }
  
  #subject-input{
    resize: vertical;
    min-height: 3em;
  }
  
  #submit-button {
    cursor: pointer;
    width: fit-content;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: var(--secondary-colour);
    border-radius: 5em;
    color: white;  
    font-size: 1em;
    border: 0.1em solid var(--secondary-colour);
  }
  
  #traditional-contact {
    margin: 1em;
    padding: 1em;
    border-left: 0.2em solid var(--secondary-colour);
    text-align: left;
  }
  
  #traditional-contact h2{
    font-size: 1.5em;
    font-weight: 400;
  }
  
  hr {
    margin: 1em;
    width: 100%;
  }
  
  #contact-link{
    text-decoration: none;
    color: var(--secondary-colour);
  }
  
  .fa {
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 0.5em;
    color: var(--secondary-colour);
    padding: 0.5em;
    width: 2em;
    text-align: center;
  }
  
  @media (hover: hover) {
    #submit-button:hover {
      background-color: var(--transparent);
      color: var(--secondary-colour);
    }
    
    .fa:hover {
      background-color: var(--secondary-colour);
      color: #1d1e22;
    }
    
    #contact-link:hover{
      border-bottom: 0.1em dashed var(--secondary-colour);
      border-top: 0.1em dashed var(--secondary-colour);
    }
  }
  
  @media (hover: none) {
    #submit-button {
      background-color: var(--transparent);
      color: var(--secondary-colour);
    }
    
    #contact-link{
      border-bottom: 0.1em dashed var(--secondary-colour);
    }
  }
  
  @media only screen and (max-width: 768px) {
    #traditional-contact {
      border-top: 0.2em solid var(--secondary-colour);
      border-left: 0.2em solid var(--transparent);
    }
  }
  