*{
   
}


  
body{
    background-image: url(bac.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    
 

}

#home {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.text { 
  font-size: clamp(4em, 15vmin, 20em);
  text-shadow: 0;
  color: black;
  animation: anime 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
}

@keyframes anime {
  from {
    font-variation-settings: "wght" 800, "slnt" 0;
    text-shadow: -5px 10px 0px #dba2e5, -10px 20px 0px #b065a0,
      -15px 30px 0px #842184;
  }
  to {
    font-variation-settings: "wght" 300, "slnt" 15;
    text-shadow: none;
  }
}


#home:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#home .home-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color:black;
}

#home p {
  color:black;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#home p span {
  color:black;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid palevioletred;
}

@media (max-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 700px) {
  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 px;
  background:black;
  overflow-y: auto;
}
#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background:plum;
  color:#e0e0e0;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: palevioletred;
  color: #fff;
  text-decoration: none;
}
  #main {
    margin-left: 300px;
  }
  
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;
    }
  }
  .nav-menu {
    padding: 30px 0 0 0;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
  }
  /*About section*/
  #about{
  width: 100%;
  height: 150vh ;
  background-size: cover;

  }
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: palevioletred;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: palevioletred;
    line-height: 0;
  }
  .about img{
    height: 450px;
  }
  .about .progress-bar{
    background-color: palevioletred;

  }
  
  .about .content:last-child {
      margin-bottom: 0;}
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
    color:rgb(131, 112, 216);
  }
  /* Mobile  */

@media only screen and (max-width: 600px) {
  #about {background: transparent;
    background-attachment: fixed;
   height: 100%;}
  }


/*work&education section*/
#resume{
  width: 100%;
  height: 100vh;
  background-size: cover;

}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  color: black;
  margin-left: 15px;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
  margin-left: 15px;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
  margin-left: 15px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
@media only screen and (max-width: 600px) {
  #resume {background: transparent;
    background-attachment: fixed;
   height: 100%;}
  }
/*My work section*/
#my-work {
  width: 100%;
  height: 100vh !important;
  background-size: cover;
  background-color: #d5b7ce;
  
  
  
}
#my-work h4{
  margin-left: 15px;
}
#my-work .card{
  background-color:rgb(173, 173, 211);
  margin-left: 15px;
  box-shadow: 5px 5px 3px 5px #888888;
}
@media only screen and (max-width: 600px) {
  #my-work{background: transparent;
   background-attachment: fixed;
   height: 100%;}
  }


/*testimonial section*/
#testimonial{
width: 100%;
height: 100vh ;
background-size: cover;
margin-left: 15px;

}
#testimonial .carousel{
  margin-top: 60px;
}
#testimonial .card{
  margin-left: 300px;
  background-color:#ede5ef;
  
}
#testimonial img{
  width: 250px;
  height: 250px;
  margin-left: 100px;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  #testimonial {background: transparent;
    background-attachment: fixed;
   height: 100%;}
   #tesimonial .card{
    margin-left: 2px;
    margin-right: 2px;
   }
  }



/*contact section*/
#contact{
  width: 100%;
  height: 100vh ;
  background-size: cover;
}
form{
  padding: 20px;
  margin-left: 70px;
  margin-right: 70px;
  background-color: #ede5ef;
  border-radius: 10px;
  box-shadow:3px 3px 2px 3px #6f7180;
}
.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
 
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: black;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: grey;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color:black;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: palevioletred;
  color:black;
  cursor: pointer;
  margin-left: 500px;
  box-shadow:0px 3px 8px rgba(0, 0, 0, 0.05); ;
}
.formbold-btn:hover {
  background-color: rgb(174, 104, 127);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (max-width: 600px) {
  .sm\:w-half {
    width: 50%;
  }
  .formbold-btn{
    margin-left: 15px;
  }
}
